<!DOCTYPE html>
<html>
  <head>
    <title>Samik UPN "VETERAN" Jawa Timur 2.0</title>
  </head>
  <body>
    <h1>Selamat datang di SIAMIK UPN "VETERAN" JaTim 2.0</h1>
    <a href="{{ url_for('top_score') }}">Top Score</a><br>
    <a href="{{ url_for('login') }}">Login</a><br>
    <a href="{{ url_for('index') }}">Home</a><br>
    <a href="{{ url_for('manual') }}">Manual</a><br>
    <a href="{{ url_for('tracking_ijazah') }}">Tracking Ijazah</a><br>
    <a href="{{ url_for('kelas_mkdu') }}">Kelas MKDU</a><br>
    <a href="{{ url_for('katalog_online') }}">Katalog Online</a><br>
    <a href="{{ url_for('informasi_skripsi') }}">Informasi Skripsi</a><br>
    <a href="{{ url_for('pendaftaran_wisuda') }}">Pendaftaran Wisuda</a><br>
    <a href="{{ url_for('daftar_peserta_mata_kuliah') }}">Daftar Peserta Mata Kuliah</a><br>
    <a href="{{ url_for('kalender_akademik') }}">Kalender Akademik</a><br>
  </body>
</html>